body {
  background-color: rgba(255, 253, 192, 0.569);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

body.modal-open {
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;

  @media screen and(min-width: 320px) {
    width: 280px;
  }

  @media screen and(min-width: 768px) {
    width: 708px;
  }

  @media screen and(min-width: 1200px) {
    width: 1140px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
