.main-button {
  display: block;
  padding: 10px;
  margin: 0 auto 50px;
  width: 200px;
  height: 50px;
  background-color: #7eb101;
  border: none;
  border-radius: 5px;
  font-weight: 700;

  &:hover,
  &:focus {
    background-color: #638230;
  }
}
