<section class="gallery-section">
  <div class="container">
    <ul class="gallery__list gallery list">
      <li class="gallery__item"><a href="#" class="gallery__link"><img src="./images/logo.png" class="gallery_image"
            alt=""></a></li>
      <li class="gallery__item"><a href="#" class="gallery__link"><img src="./images/logo.png" class="gallery_image"
            alt=""></a></li>
      <li class="gallery__item"><a href="#" class="gallery__link"><img src="./images/logo.png" class="gallery_image"
            alt=""></a></li>
      <li class="gallery__item"><a href="#" class="gallery__link"><img src="./images/logo.png" class="gallery_image"
            alt=""></a></li>
      <li class="gallery__item"><a href="#" class="gallery__link"><img src="./images/logo.png" class="gallery_image"
            alt=""></a></li>
    </ul>
  </div>
</section>