<section class="gallery-section" id="gallery">
      <div class="container">
            <h2 class="visually-hidden">Gallery</h2>

            <button type="button" class="main-button js-open-modal" data-modal="1">Open modal #1</button>
            <ul class="gallery__list gallery list">
                  <li class="gallery__item"><a href="./images/borshch@3x.png" class="gallery__link"><img
                                    src="./images/borshch.png" class="gallery_image" alt="Borshch"></a></li>
                  <li class="gallery__item"><a href="./images/chicken@3x.png" class="gallery__link"><img
                                    src="./images/chicken.png" class="gallery_image" alt="Chicken"></a></li>
                  <li class="gallery__item"><a href="./images/gamburger@3x.png" class="gallery__link"><img
                                    src="./images/gamburger.png" class="gallery_image" alt="Gamburger"></a></li>
                  <li class="gallery__item"><a href="./images/past@3x.png" class="gallery__link"><img
                                    src="./images/pasta.png" class="gallery_image" alt="Pasta"></a></li>
                  <li class="gallery__item"><a href="./images/pizza@3x.png" class="gallery__link"><img
                                    src="./images/pizza.png" class="gallery_image" alt="Pizza"></a></li>
                  <li class="gallery__item"><a href="./images/salat@3x.png" class="gallery__link"><img
                                    src="./images/salat.png" class="gallery_image" alt="Salat"></a></li>
            </ul>
      </div>
</section>