<header class="header" id="header">
  <div class="container header-box">
    <a href="./index.html" class="logo"><svg class="page-header__contacts-icon" width="66" height="52">
        <use href="./images/symbol-defs.svg#icon-logotype"></use>
      </svg></a>
    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item"><a href="#home" class="nav__link link">Home</a></li>
        <li class="nav__item"><a href="#products" class="nav__link link">Products</a></li>
        <li class="nav__item"><a href="#gallery" class="nav__link link">Gallery</a></li>
        <li class="nav__item"><a href="#feedback" class="nav__link link">Feedback</a></li>
        <li class="nav__item"><a href="#contacts" class="nav__link link">Contacts</a></li>
      </ul>
    </nav>
  </div>
</header>