<header class="header">
  <div class="container">
    <a href="./index.html" class="logo">Logotype</a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="#products" class="nav__link">Products</a></li>
        <li class="nav__item"><a href="#gallery" class="nav__link">Gallery</a></li>
        <li class="nav__item"><a href="#feedback" class="nav__link">Feedback</a></li>
        <li class="nav__item"><a href="#contacts" class="nav__link">Contacts</a></li>
      </ul>
    </nav>
  </div>
</header>