<section class="slick" id='feedback'>

  <div class="container">
    <h2 class="visually-hidden">Feedback</h2>
    <div class="slick__list responsive list">
      <div class="slick__item">
        <div class="slick__box">Fb#1</div>
      </div>
      <div class="slick__item">
        <div class="slick__box">Fb#2</div>
      </div>
      <div class="slick__item">
        <div class="slick__box">Fb#3</div>
      </div>
      <div class="slick__item">
        <div class="slick__box">Fb#4</div>
      </div>
      <div class="slick__item">
        <div class="slick__box">Fb#5</div>
      </div>
    </div>
  </div>
</section>