<section class="slick" id='feedback'>
  <h2 class="visually-hidden">Feedback</h2>
  <div class="container">
    <ul class="slick__list one-time list">
      <li class="slick__item">
        <div class="slick__box">Feedback#1</div>
      </li>
      <li class="slick__item">
        <div class="slick__box">Feedback#2</div>
      </li>
      <li class="slick__item">
        <div class="slick__box">Feedback#3</div>
      </li>
      <li class="slick__item">
        <div class="slick__box">Feedback#4</div>
      </li>
      <li class="slick__item">
        <div class="slick__box">Feedback#5</div>
      </li>
    </ul>
  </div>
</section>